body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(fondoSubayaisushi.jpg);
    background-size:cover ;
}

.magazine {
    position: relative;
    width: 600px;
    height: 900px;
    margin: 30px auto;
    margin-top: 7px;
    margin-bottom: 0px;
    perspective: 1500px; /* Da profundidad 3D */
}

.page {
    position: absolute;
    width: 600px;
    height: 900px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform-origin: left;
    transform: rotateY(0deg);
    transition: transform 0.8s ease-in-out; /* Animación del volteo */
    backface-visibility: hidden; /* Oculta la parte trasera */
}

.page.hidden {
    visibility: hidden;
}

.page.active {
    z-index: 10;
    transform: rotateY(0deg);
}

.page.previous {
    z-index: 5;
    transform: rotateY(-180deg); /* Página volteada */
}

.page.next {
    z-index: 5;
    transform: rotateY(180deg); /* Página volteada */
}

.page .content {
    padding: 20px;
    text-align: center;
}

.page img {
    width: 100%;
    height: 100%;
}

/* ===== INDICADOR DE NAVEGACIÓN ===== */

.navegacion-indicador {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.7);
    color: rgb(255, 123, 0);
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1000;
}


.navegacion-indicador.mostrar {
    opacity: 1;
}
